doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{code} Error
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
    style.
      *{
        font-family:Roboto;
        text-align:center
      }
      h1{
        font-size:calc(0.5em + 4vmin)
      }
      p{
        font-size:calc(0.5em + 2vmin)
      }
      #content {
        margin:auto;
        margin-top:9vmax;
        text-align:center;
      }
      #msgbox{
        text-align:left;
        height:0px;
        padding:5px;
        width:80%;
        margin-left:10%;
        margin-right:10%;
        overflow:hidden;
        transition:all ease 0.5s;
        white-space:nowrap;
        margin-top:20px;
        background-color:#FFFFFF;
        opacity:0;
      }
      #footer{
        color:grey;
      }
    if(details)
      script.
        let isShown = false;
        function toogleDetails(){
          let msgbox = document.getElementById("msgbox");
          if(!isShown){
            msgbox.style.height = "250px";
            msgbox.style.overflow = "auto";
            msgbox.style.backgroundColor = "#F0F0F0";
            msgbox.style.opacity = "1";
            isShown = true;
          }else{
            msgbox.style.height = "0px";
            msgbox.style.overflow = "hidden";
            isShown = false;
            msgbox.style.backgroundColor = "#FFFFFF";
            msgbox.style.opacity = "0";
          }
        }
  body
    #content
      img(src=`/img/${code}.svg` style="width:calc(100px + 20vmin)")
      h1 #{title}
      p #{message}
      if (details)
        button(onclick="this.innerHTML=(isShown?'View':'Hide') +' Details';toogleDetails()") View Details
        #msgbox
          -let detailss = details.split(/\n/);
          for line in detailss
            |#{line}
            br
    #footer
      |Chit Management System
      if(details)
        |  | To report issues click 
        a(href="https://github.com/vigneshpa/chit/issues" target="_blank") here
        |.